.sep20 {height:20px;}
.sep10 {height:10px;}
.sep5 {height:5px;}
.sep3 {height:3px;}

.box {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;

    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);

    background-color: #fff;
    /*background-color: #fff;*/
    border: 1px solid #F1EDED;
}
.box .cell {
    padding: 10px;
    font-size: 12px;
    line-height: 16px;
    border-bottom: 1px solid #e2e2e2;
}
.box .bar {
    font-size: 14px;
    line-height: 14px;
    color: #667;
    background-color: #f0f0f0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 5px;
    display: inline-block;
}
.box .inner {
    padding: 10px;
    font-size: 12px;
    line-height: 16px;
}

.the-center {
    margin:0 auto;
    text-align:center;
}

.titlebox{
    position: relative;
    padding: 25px 0 0 0;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.titlebox .title {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 0px;
    font-size: 11px;
    height:19px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    color: #9da0a4;
    -webkit-border-radius: 4px 0 4px 0;
    -moz-border-radius: 4px 0 4px 0;
    border-radius: 4px 0 4px 0;
}

a.tab:link, a.tab:visited, a.tab:active {
    display: inline-block;
    font-size: 13px;
    line-height: 13px;
    padding: 5px 5px 5px 5px;
    margin-right: 5px;
    border-radius: 3px;
    color: #555;
}

a.tab:hover {
    background-color: #f5f5f5;
    color: #000;
    text-decoration: none;
}

a.tab_current:link, a.tab_current:visited, a.tab_current:active {
    display: inline-block;
    font-size: 13px;
    line-height: 13px;
    padding: 5px 8px 5px 8px;
    margin-right: 5px;
    border-radius: 3px;
    background-color: #334;
    color: #fff;
}

a.tab_current:hover {
    background-color: #445;
    color: #fff;
    text-decoration: none;
}

.oneline {display: inline-block;}
.chart-opt {
    font-size:12px;
    padding:2px 10px;
}

.loading2 {
    -moz-box-sizing: border-box;
    background: url("/static/img/loading2.gif") no-repeat scroll center center rgba(0, 0, 0, 0);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.wrap-loading {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}


.carousel-indicators {
    position: absolute;
    bottom: -2px;
    left: 50%;
    z-index: 15;
    width: 60%;
    margin-left: -30%;
    padding-left: 0;
    list-style: none;
    text-align: center;
}
.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgb(119,119,119)
}
.carousel-indicators .active {
    margin: 0;
    width: 12px;
    height: 12px;
    background-color: rgb(177,177,177);
}

/* for ng */
.enable {
    border: 1px solid #00f;
}
.chart-container {
    width:100%; margin:5px auto;
}
.chart-container-big {
    width:100%; margin:5px auto; height: 450px;
}
.chart-container-multi {
    width:100%; margin:5px auto; height: 150px;
}
.form-inline .input-group {
    display: inline-table;
}

.form-header {
    margin-top: 10px;
    margin-bottom: 10px;
}

.multi-chart .chart-container {
    height: 150px;
}

.legend .table>thead>tr>th, .legend .table>thead>tr>td{
    padding: 1px;
    border-top: none;
}

.legend .table-bordered>tbody>tr>th, .legend .table-bordered>tbody>tr>td {
    border: none;
}

.legend .table>tbody>tr>td, .legend .table>tbody>tr>th {
    padding: 1px;
}

.reset-big {
    position: absolute;
    top: 40px;
    right: 40px;
    z-index: 999;
}
.reset-zoom {
    /*background-color: #A3A9AF !important;*/
    border-color: #A3A9AF !important;
}

.reset-big-screen {
    position: absolute;
    top: 44px;
    right: 23px;
    z-index: 999;
}
.reset-big-multi {
    position: absolute;
    top: 35px;
    right: 35px;
    z-index: 999;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    border-top: none;
}

/* multi */
.date-area {
    width: 140px !important;
}
.menu2 {
    left: 200px !important;
}

/* screen */

.chart-area {
    height: 150px;
}

.search-area {
    padding: 4px;
    margin-bottom: 0;
}
.more-btn {
    padding: 0 !important;
    position: absolute;
    top: -2px;
}

.graph-title {
    font-size:12px;
    color:#ACABAB;
}
.chart-title {
    color:#ACABAB;
}
.graph-legend {
    color:#ACABAB;
    font-size:11px;
}
