body, input, div, span, h1, h2, h3, h4, h5, table, th, td, ul, li, dl, dt, dd, a {
	font-family: 'verdana', 'Microsoft YaHei', 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono';
}

dt, dd, a {
    font-family: 'verdana', 'Microsoft YaHei', 'Consolas',
    'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono';
}

.text-center {
  text-align: center;
}

ul.catlist { list-style: none; margin: 0; padding: 0; }
ul.catlist li { display: inline; }
ul.catlist li:after { content: "ãƒ»"; }
ul.catlist li:last-child:after { content: ""; }

.cut-line {
    margin: 0 5px;
    color: #D6D6D6;
}

.font-bold {
	font-weight: bold;
}

.red {
    color: red;
}

.orange {
    color: orange;
}

.green {
    color: green;
}

.blue {
    color: blue;
}

.gray {
    color: #999 !important;
}

.mt0 {
    margin-top: 0px;
}

.mt10 {
    margin-top: 10px !important;
}

.mt20 {
    margin-top: 20px !important;
}

.mt30 {
    margin-top: 30px !important;
}

.mb20 {
    margin-bottom: 20px !important;
}

.thin-border {
    padding: 10px;
    line-height: 1;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    background-color: #fff;
}

.question-title {
    font-weight: bold;
}

.question-content {
    text-indent: 2em;
    line-height: 2em;
}

.links {
	margin:0 auto;
	width: 360px;
	line-height: 30px; 
}

.links .link-head {
	margin-top: 10px;
}

.us {
    line-height: 28px;
}

code.users {
    font-family:'verdana','Consolas';
    color: green;
    line-height: 26px;
}
