{% extends "user/base.html" %}


{% block container_outer %}
<div id="container" class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div style="margin: 0 auto; max-width: 400px;">
				<ol class="breadcrumb">
                    <li><a href="/user/list">通讯录</a></li>
                    <li class="active">关于{{user.cnname}}</li>
				</ol>

				<div class="thin-border" style="line-height:24px;">
					<div>
						姓名：{{user.cnname}}<br>
						手机：{{user.phone}}<br>
						邮箱：{{user.email}}<br>
						QQ：{{user.qq}}<br>
						IM：{{user.im}}<br>
					</div>
				</div>
			</div>

		</div>
	</div>

</div>
{%endblock%}
