{% extends "portal/layout.html" %}
{% block content %}

    <div class="panel panel-danger">
        <div class="panel-heading">
            <h3 class="panel-title">未恢复的报警</h3>
        </div>
        <div class="panel-body">
            <div class="alarms">
                {{range Events}}
                <div class="alarm">
                    <input type="checkbox" alarm="{{Id}}">
                    [P{{Priority}} #{{CurrentStep}}/{{MaxStep}}] {{Counter}}<br>
                    <span style="padding-left:17px;">{{Func}} {{LeftValue}}{{Operator}}{{RightValue}} {{Note}}</span>
                    <span class="orange">{{duration Now Timestamp}}</span>
                    <span class="gray">[</span>
                    <a href="{{Link}}" target="_blank">config</a>
                    <span class="cut-line">¦</span>
                    <a href="javascript:events_solve('{{.Id}}');">solved</a>
                    <span class="gray">]</span>
                </div>
                <hr>
                {{end}}
                <a href="javascript:events_all_select();">全选</a>/<a href="javascript:events_reverse_select();">反选</a>
                <button class="btn btn-warning btn-sm" onclick="events_batch_solve();">标记选中部分为已解决</button>
            </div>
        </div>
    </div>

{%endblock%}
