{% extends "base.html" %}
{% import "screen/screen_layout.html" as screen_layout %}

{%block title%}Dashboard-Screen{%endblock%}

{%block body_head%}
<body>
{%endblock%}

{% block head_js %}
{{super()}}
<script src="/static/js/jquery.flot.js?_v=0.0.3"></script>
<script src="{{url_for('static', filename='js/jquery.flot.time.js')}}"></script>
<script src="{{url_for('static', filename='js/jquery.flot.selection.js')}}"></script>
<script src="{{url_for('static', filename='js/underscore.js')}}"></script>
<script src="{{url_for('static', filename='js/screen-edit.js')}}"></script>
<!-- for embed iframe auto height; see http://davidjbradshaw.github.io/iframe-resizer/  -->
<script src="{{url_for('static', filename='js/iframeResizer.contentWindow.js')}}"></script>
<script src="/static/js/screen.js?_v=0.0.3"></script>
<script>
function fn_query(kvs) {
    var href = $.query;
    for (var k in kvs){
        href = href.set(k, kvs[k]);
    }
    window.location.href = href.toString();
    return false;
}

</script>

{%endblock%}

{%block navbar%}
<nav class="navbar navbar-default" role="navigation" style="background-color: #fff;">
<div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        </button>
        <a class="navbar-brand" href="/screen">Falcon-Screen</a>
    </div>

    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/screen/add">+导航</a></li>
          <li><a href="/">Falcon-Dashboard</a></li>
          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">链接<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu" style="font-size:12px;">
                  <li><a href="https://github.com/open-falcon">fork me on Github</a></li>
              </ul>
          </li>
        </ul>
    </div>
</div>
</nav>
{%endblock%}

{%block container%} {% endblock %}
