{% extends "base.html" %}

{%block head_js%}
    {{super()}}
    <script src="/static/highcharts/js/highcharts.js?v=0.0.1"></script>
    <script src="/static/highcharts/js/highcharts-more.js?v=0.0.1"></script>
    <script type="text/javascript">
        $(function () {
            $(document).ready(function() {
                Highcharts.setOptions({
                    global: {
                        useUTC: false
                    }
                });
            });
        });
    </script>
{%endblock%}

